<ul>
  <% posts.each(function (post) { %>
    <li>
      <a href="#/posts/<%=post.id%>"><%= post.escape("title") %></a>
      <button class="remove" data-id="<%= post.id %>">Delete</button>
    </li>
  <% }) %>
</ul>