<h1>Simple Notes</h1>
<div id="content">
</div>

<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  var channel = pusher.subscribe('posts');
  channel.bind('post', function(data) {
    console.log(data);

    $(".content").prepend(data);
  });
</script>